<h2>Product Edit</h2>
<form [formGroup]="productEdit" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Product Name</label>
        <input type="text" formControlName="productName" class="form-control" [(ngModel)] =product.productName [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
        <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
            <div *ngIf="f.productName.errors.required">Product Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Product Code</label>
        <input type="text" formControlName="productCode" class="form-control" [(ngModel)] =product.productCode [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }" />
        <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">
            <div *ngIf="f.productCode.errors.required">productcode is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Description</label>
        <input type="text" formControlName="description" class="form-control" [(ngModel)] =product.description  [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">description is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Save</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        
    </div>


</form>